*{
    margin: 0 auto;
    font-size: 14px;
    color: #333333;
    font-family: 'Courier New', Courier, monospace;
}


/* width: 1440px */
.container{
    width: 1440px;
    height: 100vh;
}

.show{
    display: inline-block !important;
}


.container{
    position: relative;
}

.info-box{
    display: none;
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 4;
    background:linear-gradient(90deg, #23074d 0%,#cc5333 100% );
    text-align: center;
    top: 40%;
}

.login-game h1 {
    color: whitesmoke;
    font-size: 40px;
    margin: 30px;
}
.login-game b {
    color: whitesmoke;
    font-size: 30px;
}
.login-game input{
    color: black;
    font-size: 30px;
}

.login-game button {
    padding: 5px;
    font-size: 20px;
    margin-left: 20px;
    background:linear-gradient(90deg, #0f0c29 0%,#302b63 50%,#24243e 100% );
    color: whitesmoke;
    border: whitesmoke 2px solid;
    border-radius: 20px;
}
.login-game button:hover {
    border: chartreuse 2px solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.lose-game h1{
    font-size: 40px;
    color: whitesmoke;
    margin: 30px 0;
}
.lose-game i{
    font-size: 60px;
    color: rgb(230, 49, 49);
}

.win-game h1{
    font-size: 40px;
    color: whitesmoke;
    margin: 30px 0;
}
.win-game i{
    font-size: 60px;
    color: rgb(230, 49, 49);
}




.video{
    display: none;
    width: 100%;
    margin-top: 90px; 
    position: absolute;
    z-index: 3;
    /* margin: 30px; */
}


.game{
    display: none;
    width: 100%;
    height: 90vh;
    margin-top: 175px; 
    /* background: rgba(102, 51, 153, 0.061); */
    /* background-color: rgba(128, 255, 0, 0.408); */
    position: absolute;
    z-index: 3;
}


span{
    color: blue;
    font-size: 3vw;
    position: absolute;
    top: -50px;
    left: 30px;
}

.gameScore{
    margin-left: 50vw;
}

.character{
    width: 15vw;
    height: 15vw;
    margin-left: 40px;
    background-image: url("../img/Character/run.gif");
    background-position: center; 
    background-size: cover; 
    position: absolute;
    top: 25vw;
    z-index: 5;
}
.animate{
    animation: jump 800ms infinite;
    -webkit-animation: jump 800ms infinite;
}
@keyframes jump{
    0%{top:25vw}
    50%{top:10vw}
    70%{top:10vw}
    100%{top:25vw}
}

.block{
    width: 6vw;
    height: 6vw;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 35vw;
    left: 90vw;
    z-index: 5;
    animation: block 2s infinite linear;
    -webkit-animation: block 2s infinite linear;
}

@keyframes block{
    0%{left:100vw;}
    100%{left:0vw;}
}



/* width: 1024px */
@media (max-width:1439.98px) {
    .container{
        width: 1024px;
        height: 100vh;
    }
}

/* width: 768px */
@media (max-width:1023.98px) {
    .container{
        width: 768px;
    }
}

/* width: 425px */
@media (max-width:767.98px) {
    .container{
        width: 425px;
    }
}
/* width: 375px */
@media (max-width:424.98px) {
    .container{
        width: 375px;
    }
}
/* width: 320px */
@media (max-width:374.98px) {
    .container{
        width: 320px;
    }
}

